.views-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
}

.views-published-container {
  display: flex;
  align-items: center;
}

.buttons-container {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.channel-details-container {
  display: flex;
  align-items: flex-start;
}

.channel-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-top: 15px;
}

.single-btn-container {
  margin-right: 10px;
}

.btn {
  background-color: transparent;
  border: 0px none;
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.btn-icon {
  font-size: 25px;
  margin-right: 5px;
}

.btn-liked-dislike {
  color: #3b82f6;
}

.video-details-bg-dark {
  background-color: #0f0f0f;
}
.video-details-bg-light {
  background-color: #f9f9f9;
}

.video-details-container {
  height: 100vh;
  padding: 15px;
  width: 85vw;
}
