.gamingVideos-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  height: 87vh;
  overflow-y: auto;
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.gamingThumbnail {
  width: 300px;
}

.gamingVideo-list-item {
  margin-right: 30px;
}

.gaming-section {
  display: flex;
  align-items: center;
  height: 100px;
  width: 90vw;
  padding-left: 50px;
}

.banner-light {
  background-color: #f1f1f1;
}

.banner-dark {
  background-color: #231f20;
}

.gaming-icon-container {
  padding: 20px;
  border-radius: 50px;
  margin-right: 50px;
}

.gaming-icon {
  font-size: 30px;
  color: #ff0000;
}

.gaming-icon-light {
  background-color: #d7dfe9;
}

.gaming-icon-dark {
  background-color: #0f0f0f;
}
