.trending-section {
  display: flex;
  align-items: center;
  height: 100px;
  width: 90vw;
  background-color: antiquewhite;
  padding-left: 50px;
}

.trending-section-icon {
  background-color: aqua;
  padding: 20px;
  border-radius: 50px;
  margin-right: 50px;
}

.trending-icon {
  font-size: 30px;
}

.trending-videos-list {
  list-style-type: none;
  margin-top: 20px;
  height: 90vh;
  overflow-y: auto;
}

.video-list-item {
  margin-bottom: 20px;
  width: 1000px;
}
.thumbnail-image {
  width: 400px;
}

.video-item-section {
  display: flex;
  align-items: flex-start;
}

.video-details-section {
  margin-left: 20px;
}

.video-title {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.text {
  text-decoration: none;
}

.views-count {
  display: inline;
  margin-right: 10px;
}

.publishedAt {
  display: inline;
}

.channel-name {
  margin-top: 15px;
}
