.nav-bar-container {
  margin-left: 0px;
  padding-left: 10px;
  width: 250px;
  height: 100vh;
  margin-top: 0px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-items-list {
  list-style-type: none;
  width: 200px;
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 0px;
  padding-top: 30px;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 30px;
}

@media screen and (max-width: 767px) {
  .nav-bar-container {
    display: none;
  }
}

.text {
  text-decoration: none;
}

.nav-icon {
  margin-right: 20px;
  margin-left: 10px;
  font-size: 20px;
}

.nav-item-name {
  font-weight: 600;
  margin-left: 10px;
}

.nav-bg-dark {
  background-color: #383838;
}
.nav-bg-light {
  background-color: #f8fafc;
}

.text-light {
  color: white;
}

.text-dark {
  color: #1e293b;
}

.social-logos {
  width: 35px;
  margin-right: 10px;
}

.contact-us-container {
  margin-bottom: 60px;
}
